@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p class="text-justify"> A tour guide (U.S.) or a tourist guide (European) is a person who provides assistance, information on cultural, historical and contemporary heritage to people on organized tours and individual clients at educational establishments, religious and historical sites, museums, and at venues of other significant interest, attractions sites.</p>

<h1>History</h1>
<p class="text-justify">In 18th-century Japan, a traveler could pay for a tour guide or consult guide books such as Kaibara Ekken's Keijō Shōran (The Excellent Views of Kyoto).</p>
<h1>Description</h1>
<p class="text-justify">The CEN (European Committee for Standardization) definition for "tourist guide" – part of the work by CEN on definitions for terminology within the tourism industry – is a "person who guides visitors in the language of their choice and interprets the cultural and natural heritage of an area, which person normally possesses an area-specific qualification usually issued and/or recognized by the appropriate authority". CEN also defines a "tour manager" as a "person who manages and supervises the itinerary on behalf of the tour operator, ensuring the programme is carried out as described in the tour operator's literature and sold to the traveller/consumer and who gives local practical information".</p>
<p class="text-justify">In Europe, tourist guides are represented by FEG, the European Federation of Tourist Guide Associations. In Europe, the tourist guiding qualification is specific to each and every country; in some cases the qualification is national, in some cases it is broken up into regions. In all cases it is embedded in the educational and training ethic of that country. EN15565 is a European Standard for the Training and Qualification of Tourist Guides.</p>
<p class="text-justify">
    In Australia, tour guides are qualified to a minimum of Certificate III Guiding. They belong to a couple of organisations, notably the Professional Tour Guide Association of Australia [PTGAA] and Guides of Australia [GOA].
</p>
<p class="text-justify">In Japan, tour guides are required to pass a certification exam by the Commissioner of the Japan Tourism Agency and register with the relevant prefectures. Non-licensed guides caught performing guide-interpreter activities can face a fine up to 500,000 Yen</p>
<p class="text-justify">In India its mandatory to own the license approved by the Ministry of Tourism (India) to work officially as a tourist guide. The government provides the license to regional level tour guide and also runs a Regional Level Guide Training Program (RLGTP). These programs and training sessions are conducted under the guidance of Indian Institute of Tourism and Travel Management (IITTM) or other government recognized institutes.</p>
<p class="text-justify">In South Africa tourist guides are required to register in terms of the Tourism Act 3, 2014. Training must be done through a trainer accredited by the Culture, Arts, Tourism, Hospitality and Sport Sector Education and Training Authority.</p>
