@model IEnumerable<TourGuide.Models.Photo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tour Guide</h1>
    <p class="text-justify">Tour guide is an initiative which  provides provides assistance, information on cultural, historical and contemporary heritage to people on organized tours and individual clients at educational establishments, religious and historical sites, museums, and at venues of other significant interest, attractions sites</p>
</div>

<div class="container my-4">

    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--/.Controls-->
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/1.jpg"
                                 alt="Card image cap">                            
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/2.jpg"
                                 alt="Card image cap">
                            
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/3.jpg"
                                 alt="Card image cap">
                            
                        </div>
                    </div>
                </div>

            </div>
            <!--/.First slide-->
            <!--Second slide-->
            <div class="carousel-item">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/4.jpg"
                                 alt="Card image cap">
                            
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/5.jpeg"
                                 alt="Card image cap">
                           
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/6.jpeg"
                                 alt="Card image cap">
                            
                        </div>
                    </div>
                </div>

            </div>
            <!--/.Second slide-->
            <!--Third slide-->
            <div class="carousel-item">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/7.jpg"
                                 alt="Card image cap">
                            
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/8.jpg"
                                 alt="Card image cap">
                            
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" style="height:250px;" src="~/places/9.jpg"
                                 alt="Card image cap">
                           
                        </div>
                    </div>
                </div>

            </div>
            <!--/.Third slide-->

        </div>
        <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


</div>